<div class="container my-4">
  <h3 class="mb-1 ">
    <ul>
      <li>{{diner.category}}</li>
      <li>{{diner.name}}</li>
      <li>{{diner.description}}</li>
      <li>{{diner.address}}</li>
      <li>{{diner.phone}}</li>
    </ul>
  </h3>

  <h2>Line廢話: {{{trashtalk}}}</h2>
  <div class="mb-4">
    <a href="/diners/line" class="btn btn-outline-success">Line訊息(測試random用)</a>
  </div>

  <div class="mb-2">
    <a href="/" class="btn btn-secondary">Back</a>
  </div>
</div>